.catalog_podBlock{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.productCard{
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border: solid 1px #f8f8f8;
    padding: 30px;
}
.productImg{
    width: 100%;
}
.favourites-block{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: solid 1px #f8f8f8;
    padding: 8px;
    cursor: pointer;
}
.active{
    border: solid 1px #fef0f0;
    background-color: #fef0f0;
}
.favourites-block img{
    width: 18px;
}