.catalog_podBlock{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.productCard{
    position: relative;
    max-width: 210px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 40px;
    border: solid 1px #f8f8f8;
    padding: 30px;
    transition: all 0.2s;
    cursor: pointer;
}
.productCard:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.productCard-podBlock{
    display: flex;
}
.heading-price{
    color: #BDBDBD;
    font-size: 12px;
}
.price{
    color: 14px;
    font-weight: 700;
}
.productImg{
    width: 100%;
}
.favourites-block{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: solid 1px #f8f8f8;
    padding: 8px;
}
.favActive{
    border: solid 1px #fef0f0;
    background-color: #fef0f0;
}
.favourites-block img{
    width: 18px;
}
.basket-block{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: solid 1px #f8f8f8;
    padding: 8px;
}
.basketActive{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}